@{
    ViewData["Title"] = "Confirm email";
}
<title>Confirmando tu correo electronico</title>
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar tu correo electronico.
    </p>
</div>
