@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/cs-skin-elastic.css" rel="stylesheet" />
    <link href="~/assets/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/normalize.css" rel="stylesheet" />
    <link href="~/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/assets/scss/style.scss" rel="stylesheet">
    <link href="~/assets/scss/widgets.css" rel="stylesheet" />
    <link href="~/assets/scss/bootstrap/_alert.scss" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <title>Inicia Sesión</title>
    <style>

        body {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
           /*background-image: url('./img/copas.jpg');*/
            /*background-image: url('../../wwwroot/img/blog1.jpg');*/
        }

        .login-form {
            background: #ffffff;
            padding: 30px 30px 20px;
            border-radius: 2px;
            margin-bottom: 70px;
        }
    

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

      

        .container {
            max-width: 720px;
        }

        .align-content-center {
            -ms-flex-line-pack: center !important;
            align-content: center !important;
        }

        .flex-wrap {
            -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
        }

        .d-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }


        .btn:not([disabled]):not(.disabled) {
            cursor: pointer;
        }

        .social-button .facebook {
            background: #3b5998;
            color: #fff;
        }

        .login-form .btn {
            width: 100%;
            text-transform: uppercase;
            font-size: 14px;
            padding: 15px;
            border: 0px;
        }

        [type=reset], [type=submit], button, html [type=button] {
            -webkit-appearance: button;
        }

        .btn, .button {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            transition: all .15s ease-in-out;
            border-radius: 0;
            cursor: pointer;
        }

        .btn, button, input, textarea {
            box-shadow: none;
            outline: 0 !important;
        }

        .mb-3, .my-3 {
            margin-bottom: 1rem !important;
        }

        .social-button .twitter {
            background: #00aced;
            color: #fff;
        }

        .social-button i {
            padding: 19px;
        }

        [class^="ti-"], [class*=" ti-"] {
            font-family: 'themify';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

      

        .login-form label {
            color: #878787;
            text-transform: uppercase;
        }

        label {
            display: inline-block;
            margin-bottom: .5rem;
        }

        .login-form label a {
            color: #ff2e44;
        }

        a, button {
            text-decoration: none;
            outline: none !important;
            color: #878787;
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }

        .login-form .checkbox label {
            text-transform: none;
        }

        #no {
            text-transform: none;
        }

        #red {
            color: #ff2e44;
        }
        .full-bg-img {
            /*background-image: url('./img/background3.jpg');*/
            background-image: url('../../wwwroot/img/background2.jpg');
            background-color: black;
        }

    </style>
</head>
<body class="full-bg-img">
    @*style="background-image: url('./img/background3.jpg');"*@

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="~/img/METREBLANCO.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <h2 class="title text-center">Accede con tus Credenciales</h2>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <script>
                            $(".alert").alert('close')
                        </script>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <label class="pull-right">
                            <a asp-action="ForgotPassword" id="no">Forgot your password?</a>
                        </label>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                        <div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
                            </div>
                        </div>
                        <div class="register-link m-t-15 text-center">
                            @*<p>No tienes cuenta?    <a asp-action="Nuevo" asp-route-returnurl="@ViewData["ReturnUrl"]" id="red">Registrate!</a></p>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>*@



    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>


</body>





