@model login.Models.ChooseUs;

<div class="feature">
    <i class="fa fa-check"></i>
    <p>@Model.Option</p>
</div>
@*<div class="feature">
    <i class="fa fa-check"></i>
    <p>Mauris augue neque gravida in fermentum.</p>
</div>
<div class="feature">
    <i class="fa fa-check"></i>
    <p>Orci phasellus egestas tellus rutrum.</p>
</div>
<div class="feature">
    <i class="fa fa-check"></i>
    <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
</div>*@